@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #B1030E;
  --color-secondary: #F24957;
  --color-accent: #B9E1F6;
  --color-background: #FAF6EF;
  --color-text: #0D0D0D;
}

body {
  font-family: var(--font-roboto-mono), monospace;
  color: var(--color-text);
  background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-vibes), cursive;
  color: var(--color-primary);
}